.text-green{
  color:#6DD400;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.text-gray {
  color: #817C9B;
}

.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 1rem;
}

