@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin flex($align-items, $justify-content, $flex-direction: row, $gap) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  gap: $gap;
}
