<div class="card box-shadow">
  <div class="card-body  text-center">
    <h2 class="text-center font-weight-bold">{{'state' | transloco}} <span class="text-purple ml-1">{{ state }}</span></h2>
    <h3 class="card-text font-weight-bold">
     {{'recovered' | transloco}} <span class="text-green ml-1">{{ recovered }}</span>
    </h3>
    <p class="card-text small text-gray card-percentage-container">
      {{'death' | transloco}}: <strong class="text-red ml-1">{{ death }}</strong>
    </p>
  </div>
</div>
