@import "styles/mixins";

:host {
  @include flexCenter;
  flex-direction: column;
  width: 100%;

  .container {
    .card-container {
      @include flex(center, space-between, row, unset);
      flex-wrap: wrap;
      width: 100%;
    }
    .data-table-container {
      width: 100%;
    }
    .chart-container {
     min-height: 60vh;
    }
  }
}
