@import "styles/mixins";

:host {
  @include flexCenter;
  flex-direction: column;
  width: 100%;

  .content {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    margin: 2rem 0;
    padding: 1rem;
    .card-container {
      @include flex(center, center, row, 16px);
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 2rem;
    }
    .data-table-container {
      width: 100%;
    }
  }
}
